* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
header {
  position: relative;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: yellow;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 40px;
  line-height: 80px;
  overflow: hidden;
}
header span {
  letter-spacing: 10px;
  position: relative;
  transform: skew(-20deg);
  width: auto;
  height: auto;
  padding: 5px;
  margin: 10px;
  left: 10%;
}
.frame-container {
  width: 100%;
  overflow: hidden;
}
iframe {
  position: relative;
  width: 100%;
  right: -20px;
}
.container {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  backdrop-filter: blur(5px);
}
.cat-sec {
  position: relative;
  font-size: 30px;
  text-align: center;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.39);
  width: 50vh;
  height: auto;
}
.cat-sec h4 {
  font-family: monospace;
  margin-top: 20px;
  letter-spacing: 2px;
}
.cat-sec .logo {
  width: 41vh;
  background-color: #000;
}
.cat-sec .cat {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.cat-sec .cat a {
  font-size: 20px;
  color: #fff;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  text-decoration: none;
  margin: 10px 0 10px;
  padding: 5px;
  transition: 0.2s all ease-in-out;
  letter-spacing: 2px;
}
.cat-sec .cat a:hover,
.cat-sec .cat .active {
  background-color: yellow;
  color: #000;
}
.item-sec {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  overflow: auto;
}
.item-sec table {
  text-align: center;
  margin: 10px 30px 0 0;
}
.item-sec th {
  padding: 50px;
  font-size: 40px;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: #fff;
}
.item-sec .bike-brands {
  border-bottom: 2px solid yellow;
  border-top: 2px solid #000;
  background-color: rgba(121, 118, 118, 0.473);
  color: rgb(255, 251, 0);
  padding: 5px;
  font-size: 35px;
  letter-spacing: 3px;
  font-style: italic;
  font-weight: bold;
}
.item-sec td {
  position: relative;
  padding: 80px 40px 80px 40px;
  font-size: 20px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  letter-spacing: 1px;
}
.item-sec a {
  text-decoration: none;
  font-weight: bold;
  font-size: 10px;
}
.item-sec a p {
  font-size: 12px;
  position: relative;
  color: rgb(255, 255, 255);
  background-color: rgba(0, 0, 0, 0.644);
  width: auto;
  border-radius: 5px;
  padding: 5px;
  border-bottom: 2px solid yellow;
  border-top: 2px solid #000;
}
.item-sec img {
  width: 170px;
  height: 130px;
  border-radius: 5px;
  padding: 3px;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
}
.item-sec img:hover {
  transform: scale(1.8);
  z-index: 1;
  box-shadow: 0px 0px 5px 4px rgba(0, 0, 0, 0.219);
  background-color: rgba(0, 0, 0, 0.219);
}
.item-sec a:hover p {
  display: none;
}
footer {
  height: 220px;
  background-color: rgba(194, 194, 194, 0.096);
  box-shadow: #fff;
  position: relative;
}
footer .brand-logo {
  width: 100%;
  height: 200px;
  backdrop-filter: blur(5px);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
footer p {
  text-align: center;
  font-family: monospace;
  color: #fff;
}
footer img {
  width: 20vh;
  margin: 10px;
}

@media only screen and (max-width: 800px) {
  .cat-sec {
    width: 100%;
    font-size: 20px;
  }
  .cat-sec .logo,
  h4 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  header span {
    letter-spacing: 10px;
    font-size: 25px;
    transform: skew(-20deg);
    transform: translateX(-10%);
    -webkit-transform: translateX(-10%);
    -moz-transform: translateX(-10%);
    -ms-transform: translateX(-10%);
    -o-transform: translateX(-10%);
  }
  .container {
    display: flex;
    flex-direction: column;
    width: fit-content;
    width: 100%;
  }
  .cat-sec .cat {
    display: flex;
    text-align: center;
  }
  .item-sec {
    width: 100%;
    display: inline-block;
  }

  iframe {
    width: 100%;
  }
  footer .brand-logo {
    display: flex;
    flex-wrap: wrap;
  }
  footer img {
    width: 10vh;
    margin: 10px;
  }
}
