* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-repeat: no-repeat;
  background-size: cover;
}

/* items container properties */
.items-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
}

/* select all child element of items conatiner */
.items-container > div {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* set width of item image */
.item img {
  max-width: 100%;
}

/* properties of container details */
.items-container .details {
  position: relative;
  background-color: rgba(29, 28, 28, 0.747);
  width: 50%;
  height: auto;
  color: rgb(165, 163, 163);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 10px;
  letter-spacing: 2px;
}

/* details title */
.details h3 {
  font-size: 35px;
}
h4 {
  color: yellow;
}

/* table data properties */
.details td {
  padding: 10px 3px 10px 0;
  border-top: 1px solid #fff;
  font-size: 16px;
  text-align: left;
}
td:nth-child(1) {
  font-weight: bold;
  text-transform: uppercase;
}

/* buy now button */
.buy-now {
  width: 20rem;
  text-decoration: none;
  color: #fff;
  border: 1px solid yellow;
  padding: 5px;
  margin-top: 10px;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
}
.buy-now:hover {
  background-color: yellow;
  color: #000;
  font-weight: bold;
  letter-spacing: 4px;
}
